{% extends 'layout.html' %}

{% block body %}
  {%if session.logged_in %}
    <h3>Welcome to this amazing File Sharing Tool</h3>
    {% from "includes/_formhelpers.html" import render_field %}
    <div class="card">
      <div class="card-body">
        <form enctype="multipart/form-data" action="" method="POST">
          <div class="input-group">
            {{render_field(form.shared_file, class_='custom-file-control')}}
          </div>
       
          <div class="mt-5">
            <p class="font-weight-bold text-info p-3"><span class="text-danger"><sup>*</sup></span>  Add a List of addresses to share file with separeated by commas</p>
            <div class="form-group">
              {{ render_field(form.shared_with, class_='form-control') }}
            </div>
            <div class="row justify-content-center mt-5">
              <div class="col-sm-6"><button type="submit" value="submit" class="btn-success btn-block  btn-sm">Upload <i class="fa fa-upload" aria-hidden="true"></i> </button></div>
            </div>
          </div>
      </form>
      </div>
    </div>
    
    <div class="card mt-4">
      <div class="card-body">
          {% if links %}
            {% for link in links %}
              <a href="{{link.temp_url}}" target="_blank">{{link.link}}</a> <hr>
            {% endfor %}
          {% endif%}
      </div>
    </div>
  {% else %}
    <h3>Please <a href="/login">login</a> in to  continue</h3>
  {% endif %}
{% endblock %}

